.btn-group{
  margin: 20px 0 10px 20px;
}
li{
  cursor: pointer;
}
 body
  {
  text-align:centre;
  }
  #content {
    width: 70%;
    margin: auto;
    
}
#navstyle {
    max-width: 100%;
    margin: auto;
	
}
  
	.mygrid-wrapper-div {
    overflow: scroll;
    height: 210px;
}
.table-scrollable { margin: 0; padding: 0; }